@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=PT+Sans+Narrow&family=Ramaraja&family=Red+Hat+Mono&display=swap');


*{
    font-family: 'Nerko One', cursive;
    
    margin: 0;
    outline: none;
    font-size: 25px;
}

.cor{
    margin-right: 20rem !important;
    margin-left: 0rem !important;
    padding-left: 100px !important;
    padding-right: 100px !important;
    max-width: 100% !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0 !important;
}

.pb-2{
  text-align: center;
}

.footer{
  background-color: #240B33 !important;
}

.navbar{
  background-color: #240B33 !important;
}

.sun{
  color: white;
}



html,
  body {
    height: 100%;
    background-color: #eceff1;
    transition: 0.3s;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .bi {
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  .bi-moon {
    display: none;
}

.card {
    display: flex;
    background-color: #ffffff;
  }
  
  
/* Dark theme */
.dark{
    color: white;
  }
  
  .dark .bi-sun {
    display: none;
  }
  
  .dark .bi-moon {
    display: block;
}

.dark .card {
    background-color: #37474f;
}

.dark .card-group {
    background-color: #273035;
}

.dark {
    background-color: #273035;
}

.dark .text-center{
    background-color: #37474f;
}

.dark .row{
    background-color: #37474f;
}

.dark .cor{
    background-color: #37474f;
}

.dark .modal-body{
    background-color: #37474f;
}

.dark .modal-header{
    background-color: #37474f;
}

.dark .modal-footer{
    background-color: #37474f;
}




  